<ion-header>
  <ion-toolbar  color="secondary" opacity>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="image">
    <ion-card-header>
      <ion-img src="././assets/man.jpg"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="person" color="primary" size="large"></ion-icon>Joseph<br>
      <ion-icon name="mail" color="primary" size="large"></ion-icon>joe@gmail.com<br>
      <ion-icon name="call" color="primary" size="large"></ion-icon>7879765437<br>
    </ion-card-content>
  </ion-card>
</ion-content>
