<ion-header>
  <ion-toolbar  color="secondary">
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="text-align:center">
        <ion-card-title>Give Feedback</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align:center">
      <a target="_blank" href="https://docs.google.com/forms/d/1tgdK9JYVxXaYTw0x2rxk9Yyb07qbIxEuEONuLWso16Q/edit"><h5>Click Here</h5></a>
    </ion-card-content>
    
  </ion-card>
  
  
    
  
    
  
</ion-content>
